/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.chart-title, .axis-label {
	-fx-text-fill: #a6bdd5;
}

.chart-title {
	-fx-padding: 0.0 0.0 0.0 50.0;
}

.axis {
	-fx-tick-label-fill: #4682B4;
}

.combo-box-popup {
	-fx-background-color: #C7D2E0;
}

.combo-box-base:hover {
	-fx-color: -fx-hover-base;
}

.combo-box-base:showing {
	-fx-color: -fx-pressed-base;
}

.combo-box-popup .list-view {
	-fx-background-color: #C7D2E0;
	-fx-background-insets: 0.0, 1.0;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 0.6), 8.0,
		0.0, 0.0, 0.0);
}

.combo-box-popup .list-view .list-cell {
	-fx-padding: 4.0 0.0 4.0 5.0;
	/* No alternate highlighting */
	-fx-background-color: #C7D2E0;
}
/* ---------------------------------------Dialog Alert ---------------------------------------------/*

/**Costumization of The Bar where the buttons are located**/
.dialog-pane>.button-bar>.container {
	-fx-background-color: white;
}

.dialog-pane>.content.label {
	-fx-padding:10px;
	-fx-background-color: #2D3E50;
	-fx-text-fill: #a6bdd5;
}

/**Costumization of DialogPane Header**/
.dialog-pane:header .header-panel {
  -fx-background-color: SteelBlue;
}

.dialog-pane:header .header-panel .label{
  -fx-text-fill:black;
  -fx-font-size:18.0px;
}

/***********************************************************************************************************/

.default-color0.chart-bar {
	-fx-bar-fill: #C7D2E0;
}

.default-color1.chart-bar {
	-fx-bar-fill: #00FFCC;
}

/* Styling the slider track */
.jfx-slider>.track {
	-fx-background-color: #7594B5;
}

/* Styling the slider thumb */
.jfx-slider>.thumb {
	-fx-background-color: SteelBlue;
}

/* Styling the filled track */
.jfx-slider>.colored-track {
	-fx-background-color: SteelBlue;
}

/* Styling the animated thumb */
.jfx-slider>.animated-thumb {
	-fx-background-color: SteelBlue;
}

/* Styling the slider value text inside animated thumb */
.jfx-slider .slider-value {
	-fx-fill: white;
	-fx-stroke: white;
}

#reinitialiserFiltre {
	-fx-background-color: #C7D2E0;
}

#reinitialiserFiltre:hover {
	-fx-background-color: #8DA5C0;
}

#hboxTop {
	-fx-background-color: #2D3E50;
}

#titleAnchorPane {
	-fx-background-color: SteelBlue;
}

#gestionArticleTitle {
	-fx-background-color: SteelBlue;
}

#textFieldSearch {
	-fx-prompt-text-fill: #446A91;
	-fx-text-fill: #a6bdd5;
}

#AnchorPaneForTable {
	-fx-background-color: lightGrey;
}

#TableViewArticles {
	-fx-background-color: #FFFFFF;
}

#ComboBoxFiltres {
	-fx-background-color: #C7D2E0;
}

#ComboBoxFiltre:focus {
	-fx-background-color: #C7D2E0;
}

#LabelFiltre {
	-fx-text-fill: #a6bdd5;
}

#Button {
	-fx-background-color: #FFFFFF;
}

#Button:hover {
	-fx-background-color: #8DA5C0;
}